<div class="container">
   <span class="title">{{title}}</span> 

   <div class="button-group">
        @for (button of buttons(); track $index) {
            @if (button.external) {
                <a class="button" (click)="button?.sideEffect?.()" href={{button?.href}} mat-button>{{button?.text}}</a>
            } @else {
                <a class="button" (click)="button?.sideEffect?.()" routerLinkActive="active" [routerLink]=button.href mat-button>{{button.text}}</a>
            }
        }
   </div>
</div>
