.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    height: min-content;
    padding: 30px;
    background-color: yellow;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
